<a class="toolbar-icon trigger toolbar-item nt-community-alert nt-status-available">Alerts</a>
<div class="alert-menu">
    <div class="nt-notificatons">
        <div class="nt-main">
            <div class="nt-header">
                <div class="nt-c-xs-7">
                    <h4 class="title">Community Alert</h4>
                </div>
                <div class="nt-c-xs-5">
                    <a class="nt-mark-all-as-read">Mark all as read</a>
                </div>
            </div>
            <div class="nt-special-body nt-dismissible">
                <button class="nt-btn nt-close-btn"></button>
                <div class="nt-row nt-special-notification">
                    <div class="nt-c-xs-12">
                        <h4>Drupal 8.7.0 is available</h4>
                        <p>This release introduces powerful features that will help us all take Drupal to a Whole new level...</p>
                        <a class="nt-btn nt-btn-outline-light">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="nt-body nt-scrollbar">
                {% for item in items %}
                <div class="nt-row read">
                <div class="nt-c-xs-10 nt-c-sm-10">
                    <div class="nt-notification-text">
                        <a href="#">{{ item.announce_title }}</a>
                    </div>
                    <div class="nt-time-stamp">{{ item.announce_date|date('F jS \\a\\t g:ia') }}</div>
                </div>
                <div class="nt-c-xs-2 nt-c-sm-2">
                </div>
                <button class="nt-btn nt-btn-read-status tooltip"  title="Mark as read" data-notification-id="" data-readed-status="false"></button>
                </div>
                {% endfor %}
                <!-- <div class="nt-row readed">
                    <div class="nt-c-xs-10 nt-c-sm-10">
                        <div class="nt-notification-text">
                            <a href="#">Accouncing Drupal Community Working Group Review Panel</a>
                        </div>
                        <div class="nt-time-stamp">1 Day ago</div>
                    </div>
                    <div class="nt-c-xs-2 nt-c-sm-2">
                        <button class="nt-btn nt-btn-read-status tooltip" title="Mark as unread"></button>
                    </div>
                </div>  -->
            </div>
            <div class="nt-footer">
                <h5 class="nt-footnote"><a href="#">View all community alert</a></h5>
            </div>
        </div>
    </div>
</div>
